@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-color: #46403a;
    --container-color: #837d6e;
    --button-color: #928a7e;
    --switch-url: url(./assets/MoonStars.svg);
}

.light {
    --text-color: #000000;
    --bg-color: #e2d7cc;
    --container-color: #ccc4b0;
    --button-color: #928a7e;
    --switch-url: url(./assets/Sun.svg);
    
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

body * {
    color: var(--text-color);
}

.container {
    background-color: var(--container-color);
    width: 500px;
    height: 600px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.img_tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    /* justify-content: end; */
    position: relative;
}



.box button {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-url) no-repeat center;
    position: absolute;
    
    
}

.box span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: #fdf7f7;
    border-radius: 9999px;
    
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    background-color: var(--button-color);
    width: 300px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

a:hover {
    background-color: #a49b8e;
}

@media (max-width: 1035px) {
    .container {
        width: 300px;
        height: 500px;
    }
    a {
        width: 200px;
        height: 30px;
    }
}
