@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2d7cc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section {
    background-color: #ccc4b0;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    background-color: #928a7e;
    width: 300px;
    height: 40px;
    display: grid;
    place-items: center;
    color: black;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1035px) {
    section {
        width: 300px;
        height: 500px;
    }
    a {
        width: 200px;
        height: 30px;
    }
}
